

<div class="item-searchbox-container">
    <input type="search" class="item-searchbox" placeholder="Search item by name">

</div>



<div class="league-selector-container">


    <div class="league-selector-description">
        League:
    </div>

    <partial name="_LeagueSelector" model="new LeagueSelectorViewModel()" />
</div>

