@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
:root {
  --primary-color-strong: #031424;
  --primary-color-medium: #30415D;
  --primary-color-light: #8EAE8D;
  --color-background: #CF6766;
  --border-radius: 11px;
  --font-primary-color: white; }

::placeholder {
  color: var(--font-primary-color); }

body {
  background-color: var(--color-background);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: var(--font-primary-color); }

a {
  color: var(--font-primary-color); }

a:hover {
  color: var(--font-primary-color); }

.content {
  padding: 25px;
  background-color: var(--primary-color-medium);
  border-radius: var(--border-radius); }

.content-container {
  width: 100%; }

.main-container {
  margin: 0 15%; }

.main {
  background-color: var(--primary-color-strong);
  display: flex;
  margin-top: 15px;
  border-radius: var(--border-radius);
  overflow: hidden; }

.left-menu {
  min-width: 255px; }

.categories-list {
  list-style: none;
  width: 100%;
  align-items: start;
  padding: 25px 0;
  margin: 0; }

.item-overview {
  width: 100%; }

li {
  margin: 10px;
  height: 50px; }

.category-link {
  display: flex; }

.category-text {
  width: 100%;
  line-height: 50px;
  margin-left: 10px; }

.category-img {
  margin-left: 15px;
  max-height: 60px;
  max-width: 45px; }

.item-occurances {
  text-align: center; }

.item-price-ammount {
  text-align: right;
  padding-right: 10px; }

.th-value {
  text-align: left; }

.item-seven-days-change {
  text-align: center; }

.th-seven-days-change {
  text-align: center; }

.th-occurances {
  text-align: center; }

.item-overview {
  width: 100%; }

.item-overview-tbody {
  width: auto; }

.item-tr {
  height: 60px;
  border-bottom: 1px solid var(--primary-color-light); }

.item-icon {
  height: 55px;
  width: auto;
  padding: 0;
  margin: 0; }
  .item-icon .item-img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; }

.item-name {
  text-align: left; }

.th-buy {
  text-align: center; }

.th-sell {
  text-align: center; }

.buy-from-rate {
  text-align: right;
  padding-right: 5px;
  border-left: 1px solid var(--primary-color-light); }

.buy-leads-to {
  text-align: center; }

.buy-target-icon {
  text-align: left;
  border-right: 1px solid var(--primary-color-light); }

.sell-from-rate {
  padding-left: 15px;
  text-align: right; }

.sell-leads-to {
  text-align: center; }

.sell-to-rate {
  text-align: right;
  padding-right: 5px; }

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 45px; }

.item-searchbox-container {
  width: 500px; }

.item-searchbox {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-strong);
  border-radius: var(--border-radius);
  border: 0;
  opacity: 0.8;
  color: white;
  padding-left: 10px; }

.league-selector-container {
  display: flex; }

.league-selector-description {
  line-height: 45px;
  padding-right: 12px; }

.league-selector-form {
  width: 350px;
  border-radius: var(--border-radius);
  overflow: hidden; }

.league-selector {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-strong);
  opacity: 0.8;
  color: var(--font-primary-color);
  padding-left: 10px; }

.load-more-container {
  text-align: center;
  margin-top: 20px; }
