:root {
  --primary-color-strong: #067c2d;
  --primary-color-light: #02d348; }

.container .top-bar {
  display: flex;
  justify-content: space-between; }
  .container .top-bar .itemSearchBox {
    width: 50%; }
  .container .top-bar .leagueSelector {
    width: 35%; }

.container .content {
  display: flex;
  margin-top: 50px; }
  .container .content .left-menu {
    width: 300px; }
  .container .content .main {
    flex: 1; }
