@model tradeofexile.Models.ItemsViewModel

<partial name="_ItemOverview">
    <div class="load-more-container">
        @Html.ActionLink("Load more", "Index", "Flasks", new { page = Model.PagingInfo.CurrentPage + 1 })
    </div>