@{
    ViewData["Title"] = "Home Page";
}

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget enim at felis lobortis euismod ac ac ipsum. Phasellus dictum, ante gravida faucibus vestibulum, velit ex molestie enim, eu ultrices turpis nulla eget risus. Aliquam dictum rutrum lectus, ac euismod quam pretium sed. Etiam fringilla pretium semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed eu viverra ex. Sed gravida orci in nisi vestibulum maximus. Donec non justo ac est interdum rhoncus vitae ut ante. Curabitur tempor turpis eget sodales convallis.

    Integer pretium nunc quis metus imperdiet mattis. Pellentesque ipsum purus, tincidunt interdum suscipit ut, congue quis est. Etiam mattis metus eu libero condimentum, in molestie metus ultrices. Cras at ipsum blandit, tempor dui id, condimentum mi. In ac posuere nulla. Etiam interdum eu tellus posuere blandit. Nullam vel volutpat nunc, vulputate fringilla leo. Curabitur malesuada eu dolor nec bibendum. Nullam nec augue non risus efficitur ullamcorper imperdiet at eros. Donec faucibus, felis nec dictum posuere, lacus dui consectetur enim, ut hendrerit odio dolor vitae dolor. Curabitur sed lacinia erat.
</div>
